<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
	<meta charset="utf-8">
	<title>Orlando Exhibition Center</title>
	<link rel="stylesheet" href="./css/styles.css">
	<!-- Bootstrap Styling -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://kit.fontawesome.com/b7eebf5e19.js" crossorigin="anonymous"></script>
	<!-- Vue Import -->
	<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
</head>

<body>
	<!-- Top Section  -->
	<div id="top-section">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="#">OEC</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="#">Exhibtions <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item active">
						<a class="nav-link" href="./createEvent.html">Create Event</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="account-name">
							<i class="fas fa-users-cog"></i>
						</a>
						<div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="#">Settings</a>
							<a class="dropdown-item" href="#">Help</a>
							<div class="dropdown-divider"></div>
							<a class="dropdown-item" href="#">Sign Out</a>
						</div>
					</li>
				</ul>
				<form class="form-inline ">
					<input class="form-control mr-sm-2 w-72" type="search" placeholder="Search" aria-label="Search">
					<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
				</form>
			</div>
		</nav>
		<div class="top-header">
			<h1 class="top-header">Orlando Exhibition Center</h1>
			<svg width="5em" height="5em" viewBox="0 0 16 16" class="bi bi-gem icon-image" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
				<path fill-rule="evenodd" d="M3.1.7a.5.5 0 0 1 .4-.2h9a.5.5 0 0 1 .4.2l2.976 3.974c.149.185.156.45.01.644L8.4 15.3a.5.5 0 0 1-.8 0L.1 5.3a.5.5 0 0 1 0-.6l3-4zm11.386 3.785l-1.806-2.41-.776 2.413 2.582-.003zm-3.633.004l.961-2.989H4.186l.963 2.995 5.704-.006zM5.47 5.495l5.062-.005L8 13.366 5.47 5.495zm-1.371-.999l-.78-2.422-1.818 2.425 2.598-.003zM1.499 5.5l2.92-.003 2.193 6.82L1.5 5.5zm7.889 6.817l2.194-6.828 2.929-.003-5.123 6.831z" />
			</svg>
			<br><br>
			<blockquote class="blockquote">
				<p class="mb-0">The most important thing in communication is to hear what isn’t being said.</p>
			</blockquote>
		</div>
	</div>
	<br><br>
	<h2  style="display:inline; ">Administrator:</h2>
	<a href="./createEvent.html"><i class="fas fa-plus-circle fa-2x" style="color:green; "></i></a>
	<!-- Exhibtions Section -->
	<div id="middle-section">
		<h2 class="exhibitions-header">Exhibitions</h2>
		<div class="navbar-container">
			<ul>
				<li class="nav-link" >
					<h3><a id="active" onclick="showActive()">Active Events</a></h3>
					<div class="underline"></div>
				</li>
				<li class="nav-link" >
					<h3> <a id="created" onclick="showCreated()">Created Events </a></h3>
					<div class="underline"></div>
				</li>
				<li class="nav-link" >
					<h3><a id="registered" onclick="showRegistered()">Registered Events</a></h3>
					<div class="underline"></div>
				</li>
			</ul>
		</div>
		<div class="container-fluid" style="padding-left:100px;" id="eventGroups">
			<form id="date_selection">
				<label for="start_date">Event Start Date:</label>
				<input type="date" id="start_date"/>
				<label for="end_date">Event End Date:</label>
				<input type="date" id="end_date"/>
				<input type="submit" id="date_button" value="Filter" />
			</form>
			<event-list v-if="selected === 'active'" id="active_events" :active_events="active_events" :registered_events="registered_events"></event-list>
			<event-list v-if="selected === 'created'" id="created_events" :active_events="created_events" :registered_events="registered_events"></event-list>
			<event-list v-if="selected === 'registered'" id="registered_events" :active_events="registered_events" :registered_events="registered_events"></event-list>
		</div>
	</div>

	<!-- Footer Section  -->
	<section id="footer">
		<div class="container">
			<div class="row text-center text-xs-center text-sm-left text-md-left">
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5>Resources & Favorites</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="https://www.ucf.edu/"><i class="fa fa-angle-double-right"></i>Facebook</a></li>
						<li><a href="https://www.ucf.edu/"><i class="fa fa-angle-double-right"></i>About</a></li>
						<li><a href="https://www.ucf.edu/"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
						<li><a href="https://www.ucf.edu/"><i class="fa fa-angle-double-right"></i>Get Started</a></li>
						<li><a href="https://www.ucf.edu/"><i class="fa fa-angle-double-right"></i>Videos</a></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5>Featured Recognition</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="https://www.ucf.edu/"><i class="fa fa-angle-double-right"></i>Home</a></li>
						<li><a href="https://www.ucf.edu/"><i class="fa fa-angle-double-right"></i>About</a></li>
						<li><a href="https://www.ucf.edu/"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
						<li><a href="https://www.ucf.edu/"><i class="fa fa-angle-double-right"></i>Get Started</a></li>
						<li><a href="https://www.ucf.edu/"><i class="fa fa-angle-double-right"></i>Videos</a></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5>About Us</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="https://www.ucf.edu/"><i class="fa fa-angle-double-right"></i>Home</a></li>
						<li><a href="https://www.ucf.edu/"><i class="fa fa-angle-double-right"></i>About</a></li>
						<li><a href="https://www.ucf.edu/"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
						<li><a href="https://www.ucf.edu/"><i class="fa fa-angle-double-right"></i>Get Started</a></li>
						<li><a href="https://wwwe.sunlimetech.com" title="Design and developed by"><i class="fa fa-angle-double-right"></i>Imprint</a></li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
					<ul class="list-unstyled list-inline social text-center">
						<li class="list-inline-item"><a href="https://www.ucf.edu/"><i class="fa fa-facebook"></i></a></li>
						<li class="list-inline-item"><a href="https://www.ucf.edu/"><i class="fa fa-twitter"></i></a></li>
						<li class="list-inline-item"><a href="https://www.ucf.edu/"><i class="fa fa-instagram"></i></a></li>
						<li class="list-inline-item"><a href="https://www.ucf.edu/"><i class="fa fa-google-plus"></i></a></li>
						<li class="list-inline-item"><a href="https://www.ucf.edu/" target="_blank"><i class="fa fa-envelope"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</section>
  <!-- Website Scripts -->
		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
		<script src="./js/index.js"></script>
	</body>
</html>
